# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7cdc0c520677da8e688526bfc612fe213352b59ec8a67f308b3272b35ae30d3e786d7c392547fd33ac2cd2f5457bc30d586c0867bb67c7a8efac8332704bccd1

test:
  secret_key_base: f2afb2f41ed6c9405296097e61532805a621531863523bf8a632f5e63cb4820ecee748e77a933e4a48096b86ca20864299dd2defc446a0526097f7ba95a6ed8d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
